/**
 * Fonts
 */

/* oxygen-regular - latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/oxygen-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Oxygen'), local('Oxygen-Regular'),
       url('fonts/oxygen-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/oxygen-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/oxygen-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/oxygen-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/oxygen-v5-latin-regular.svg#Oxygen') format('svg'); /* Legacy iOS */
}


/**
 * Core
 */

body {
    font-family: 'Oxygen', roboto, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0
}


/**
 * Common layout properties
 */

.flex-left {
    margin-right: auto;
}

.flex-right {
    margin-left: auto;
}


/**
 * Generic flexbox styles
 */

.flex-horizontal {
    display: flex;
    flex-wrap: wrap;
}

.flex-horizontal .item {
    flex-basis: 33%;
}

.flex-horizontal .item:before {
    font-family: 'FontAwesome';
    content: '+';
    padding-right: 0.4em;
    color: #333333;
}


/**
 * Header
 */

#header {
    max-width: 1000px;
}

.header {
    margin: 1em auto 1em auto;
    width: 90%;
    border-bottom: 2px solid rgba(0,0,0,0.1);
}

.header-container {
    padding: 1em 5% 1em 5%;
    display: flex;
}

#header h1 {
    font-size: 2em;
    font-weight: 400;
}

#header .tagline {
    font-size: 1.2em;
    opacity: 0.8;
}

#header .pic {
    width: 100px;
    height: 100px;
}


/**
 * Container (content)
 */

#content {
    max-width: 950px;
    width: 95%;
    margin: 5em auto 5em auto;
}

/**
 * Category
 */

.category {
    margin: 5em 1em 5em 1em;
}

.cat-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.cat-name {
    font-size: 1.5em;
}

.cat-head-line {
    max-width: 70%;
    width: 250px;
    min-width: 30%;
    height: 2px;
    background-color: rgba(0,0,0,0.6);
}

.cat-body {
    margin: 2em 3% 2em 3%;
}

/**
 * Category entry layout
 * Generic styles
 */

.inline-wrapper {
    display: inline;
}

.cat-body .listing {
    display: flex;
    margin-bottom: 2em;
}

.listing .list-icon {
    flex-grow: 1;
    font-size: 1.5em;
    padding-right: 0.5em;
    font-family: 'FontAwesome';
}

.listing .list-item {
    flex-grow: 100;
    display: flex;
    flex-direction: column;
}

.list-item .title {
    font-size: 1.2em;
    margin-bottom: 0.6em;
}

.item-with-time {
    display: flex;
    margin-bottom: 0.6em;
}

.item-with-time .item {
}

.item-with-time .time {
    margin-left: auto;
}

.listing .list-more {
    display: flex;
}


/**
 * Education
 */

.edu .listing .list-icon:before {
    content: '\f19d'; /* fa-graduation-cap */
}

.edu .list-more .item:before {
    content: '\f02d'; /* fa-book */
}

.edu .item-with-time {
    opacity: 0.8;
}


/**
 * Skills
 */

.skills .listing .list-icon:before {
    content: '\f0ad'; /* fa-wrench */
}

.item .dull:before {
    content: '//';
    margin-left: 0.2em;
    margin-right: 0.2em;
    opacity: 0.6;
}

.item .dull {
    opacity: 0.5;
    font-size: 0.9em;
}


/**
 * Awards
 */

.awards .listing .list-icon:before {
    content: '\f091';
}

.awards .item-with-time .item {
    font-weight: 600;
}

.awards .list-more {
    font-size: 0.9em;
}


/**
 * Extras
 * and
 * miscellaneous
 */

.longdash:before {
    content: '—'; /* the long dash */
    margin: 0 0.2em 0 0.2em;
}